<%= content_for :title, "Calories to Miles | Homepage" %>

<%= @calc %>



<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <%= form_for :answer, url: results_path do |f| %>
            <%= f.label :weight %>:     <%= f.text_field :weight, class: 'form-control' %>
            <%= select_tag(:exercise, options_for_select([['Running', 1], ['Walking', 2]]))%>
            <%= select_tag(:food, options_for_select(Food.all.pluck(:name))) %>
            <br>
            <%= f.submit %> 
        <% end %>
    </div>
</div>