<!-- This page will show the results of the calculation made from show.html.erb. -->
<%= content_for :title, "Calories to Miles | Results" %>
<%= content_for :sticky_title, "Results" %>

<div align="center"><p class="lead">It would take about <%= pluralize @minutes, 'minute', 'minutes' %> of <%= @exerciseResult.name %> 
to burn off the calories from <%= @foodResult.name %>.</p> </div>



