<!-- This is main application HTML -->

<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Links to pages on the application defined in config/routes.rb and directed to app/views/static_pages -->
<%= link_to 'Home', root_path %>
<%= link_to 'About', about_path %>
<%= link_to 'Settings', settings_path %>

<!-- Below will display the corresponding view ("page") when a user clicks the above links -->
<%= yield %>



</body>
</html>
