<!-- This is main application HTML -->

<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= render partial: "partials/google_analytics" %>
  <meta name="viewport" content="width=device-width, initial-scale=1">`

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>

<!-- Links to pages on the application defined in config/routes.rb and directed to app/views/static_pages -->

<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1><%= yield(:sticky_title) %></h1>
    </div>
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <!-- By default, show the calculator form otherwise show the corresponding view user clicks on (such as about, database, etc) -->
    <%= yield %>
    
  </div>
</div>


<%= render 'layouts/footer' %>
<%= render partial: "partials/google_analytics_pageview" %>
</body>
</html>
